/* Layout */

body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#2a3845;
	margin:0;
	padding:0;
	background:#FFFFFF;
}

p {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:632px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

#header {
	margin:0 1px;
}

#bg {
	height:36px;
	background:url('http://img840.imageshack.us/img840/9886/87926428.gif') repeat-x;
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:center;
	
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
	margin-left: 500px;
	margin-top: 100px;
}

#right-column {
	width:270px;
	float:right;
	margin-left: 300px;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;
	background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
}



/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

ul {
	padding:0;
	margin:0 0 0 17px;
	list-style:square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
}



#nav {
	background:#06a;
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#fa7393;
}
html,body{
    overflow-x: hidden;
    background-color: transparent;
}
#banner{
    display:block;
    width:100%;
    background-color: #404040;
    color: white;
    position:fixed;
    z-index: 999;
    text-align: center;
}
#sidebar {
    margin-top: 5em;
    position: fixed;
    width: 15%;
    background-color: rgb(60,89,142);
    height: 100%;
}
#all-content{
    margin-top: 5em;
    padding: 1em;
    background-color: white;
    height: 100%;
}
/*--------------------------------------------------For the page only-----------------------------------------------------*/
/*----------Task field---------*/
#content {
    padding-left: 17%;
}
.list-group li{
    border-top: 1px solid white;
    display: block;
    text-align: center;
    padding: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(60,89,142);
}
.list-group li a{
    color: white;
}
#recentmess{
    height: 30vw;
    display: block;
    overflow-y: scroll;
}
#sendmess{
    padding-top: 1em;
    border-top: 1px solid black;
}

#task-content{
    height: 45vw;
    overflow-y: scroll !important;
    display: block;
}
ul.mail-list{
     padding:0;
     margin:0;
     list-style:none;
     margin-top:30px;
}
ul.mail-list li a{
    display:block;
    border-bottom:1px dotted #CFCFCF;
    padding:10px;
    text-decoration:none;
}
ul.mail-list li:last-child a{
    border-bottom:none;
}
ul.mail-list li a:hover{
    background-color:#DBF9FF;
}
ul.mail-list li span{
    display:block;
}
ul.mail-list li span.mail-sender{
    font-weight:600;
    color:#8F8F8F;
}
ul.mail-list li span.mail-subject{
    color:#8C8C8C;
}
ul.mail-list li span.mail-message-preview{
    display:block;
    color:#A8A8A8;
}